/* PAGE STYLE */
body.page-bioschemas-crawler{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding:5px;
}

body.page-bioschemas-crawler div.container{
	width:100%;
}



/* FORM STYLING */

form#bioschemas-crawler-form{
	width: 100%;
	padding:0px;
	font-size: 0;
	margin-top: 10px;
}

form#bioschemas-crawler-form label{
	display:none;
}

form#bioschemas-crawler-form input
{
	border:0px;
}

form#bioschemas-crawler-form select, 
form#bioschemas-crawler-form input{
	width: 100%;
	height:60px;
	border-radius:0px;
	font-size: 22px;
}

form#bioschemas-crawler-form select{
	position:relative;
	border-radius: 0px;
	left:1px;
	-webkit-appearance: none;
  	-webkit-border-radius: 0px;
  	border:0px;
}

form#bioschemas-crawler-form input#edit-submit{
	width: 15%;
	border-radius: 0px;
	height: 62px;
	margin: 0px;
	padding: 0px;
	position: relative;
    float:right;
    font-size: 22px;
    background-color: #7bb5dd;
    border-color: #7bb5dd;
    background-image: none;
}

body.page-bioschemas-crawler form input#edit-submit:focus,
body.page-bioschemas-crawler form input#edit-submit:active,
body.page-bioschemas-crawler form input#edit-submit:hover
{
	background-color: #204d74 !important;
    border-color: #122b40 !important;
}

form#bioschemas-crawler-form div.form-item-target-url{
	width:70%;
	float:left;
	border:1px solid #ccc;
}

form#bioschemas-crawler-form div.form-item-target-format{
	width:15%;
	float:left;
	border:1px solid #ccc;
	border-left:0px;
}

form#bioschemas-crawler-form div.form_item{
	margin-bottom: 0px !important;
}



/*   RESULT STYLING   */

@media(max-width: 1200px){
	div.bs_output, div.json_display{
		width:100%;
		border-left:1px solid #ccc !important;
	}
}

@media(min-width: 1201px){
	div.bs_output{
		width:49%;
		margin-right: 2%;
	}
	div.json_display {
		width:49%;
	}
}

div.BS_item{
	padding:0 20px 20px 20px;
}

div.bs_output{
	display:inline-block;
	vertical-align: top;
	font-size:14px;
}

div.bs_output, div.json_display{
	position:relative;
	top:-45px;
	margin-bottom: 20px;
}

body.page-bioschemas-crawler div.json_display pre{
	overflow: auto;
 	word-wrap: normal;
  	white-space: pre;
  	font-size: 12px;
}

body.page-bioschemas-crawler div.json_display{
	display:inline-block;
	vertical-align: top;
	border:1px solid #ccc;
	padding:0px 20px 20px 20px;
	box-shadow: 4px 4px 4px #D6D6D6;
}


body.page-bioschemas-crawler div.output_container{
	position:relative;
	top:62px;
	border:1px solid #ccc;
	border-top:0px;
	margin-bottom: 60px;
}

table.bioschemas_validation{
	width:100%;
	border-collapse: collapse;
}

div.bs_output table tbody{
	box-shadow: 4px 4px 4px #D6D6D6;
}

div.bs_output tr *{
	text-align: justify;
}

div.bs_output td.field_value{
	padding-right:10px;
}

div.bs_output tr.table_line{
	border:1px solid #ccc;
	border-top:0px;
	width:98%;
	padding-left:10px;
	padding-right:10px;
}

div.bs_output tr.table_line:hover{
	background-color: #ccc;
}

div.bs_output tr.first_line{
	border:1px solid #ccc;
	padding:5px 15px 5px 15px;
	height:40px;
	border-left:0px;
}

div.bs_output th.object_errors{
	text-align:right;
	padding-right: 10px;
}

div.bs_output th{
	vertical-align: middle;
}

div.bs_output th.first_col{
	border-left:1px solid #ccc;
}


div.bs_output .first_col{
	width:20px;
	padding-left: 5px;
}

div.bs_output tr.table_line td.field_name{
	width:300px;
	font-weight: bold;
	vertical-align: top;
}

div.bs_output tr.table_line td.field_value{
	width:500px;
	vertical-align: top;
}

div.bs_output td.fa-check-circle{
	color:green;
	background-color: transparent;
	margin-right: 5px;
}

div.bs_output td.fa-exclamation-triangle{
	color:orange;
	background-color: transparent;
	margin-right: 5px;
}

div.bs_output td.fa-times-circle{
	color:red;
	background-color: transparent;
	margin-right: 5px;
}

div.bs_output td.error_field{
	color:red;
}

div.bs_output td.field_warning{
	color:orange;
}

div.bs_output .field_description{
	padding-left: 20px;
	padding-right: 20px;
	font-size: 12px;
	font-style: italic;
	/*display:none !important;*/
}
