/* PAGE STYLE */
body.page-bioschemas-crawler{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding:5px;
}

body.page-bioschemas-crawler div.container{
	width:100%;
}



/* FORM STYLING */

form#bioschemas-crawler-form{
	width: 100%;
	padding:0px;
}

form#bioschemas-crawler-form label{
	display:none;
}

form#bioschemas-crawler-form select, 
form#bioschemas-crawler-form input{
	width: 100%;
	height:60px;
	border-radius:0px;
	font-size: 22px;
}

form#bioschemas-crawler-form select{
	position:relative;
	border-radius: 0px;
	left:1px;
}

form#bioschemas-crawler-form input#edit-submit{
	width: 14%;
	border-radius: 0px;
	height: 60px;
	margin: 0px;
	padding: 0px;
	position: relative;
    top: -4px;
    left: 2px;
    font-size: 22px;
    background-color: #7bb5dd;
    border-color: #7bb5dd;
    background-image: none;
}

body.page-bioschemas-crawler form input#edit-submit:focus,
body.page-bioschemas-crawler form input#edit-submit:active,
body.page-bioschemas-crawler form input#edit-submit:hover
{
	background-color: #204d74 !important;
    border-color: #122b40 !important;
}

form#bioschemas-crawler-form div.form-item-target-url{
	width:70%;
	display:inline-block;
}

form#bioschemas-crawler-form div.form-item-target-format{
	width:15%;
	display:inline-block;
}



/*   RESULT STYLING   */


div.bs_output{
	margin-top: 20px;
	width:60%;
	display: inline-block;
	vertical-align: top;
	font-size:14px;
}

div.json_display pre{
	overflow: auto;
 	word-wrap: normal;
  	white-space: pre;
  	font-size: 12px;
}

div.json_display{
	width:39%;
	display: inline-block;
	vertical-align: top;
	border:1px solid #ccc;
	margin-left:1%;
	padding:20px;
	margin-top:20px;
}




table.bioschemas_validation{
	width:100%;
	border-collapse: collapse;
}

div.bs_output tr.table_line{
	border:1px solid #ccc;
	border-top:0px;
	width:98%;
	padding-left:10px;
	padding-right:10px;
}

div.bs_output tr.table_line:hover{
	background-color: #ccc;
}

div.bs_output tr.first_line{
	border:1px solid #ccc;
	padding:5px 15px 5px 15px;
	height:40px;
}

div.bs_output th.object_errors{
	text-align:right;
	padding-right: 10px;
}


div.bs_output tr.table_line td.first_col{
	width:20px;
	padding-left: 5px;
}

div.bs_output tr.table_line td.field_name{
	width:300px;
	font-weight: bold;
	vertical-align: top;
}

div.bs_output tr.table_line td.field_value{
	width:500px;
	vertical-align: top;
}

div.bs_output td.fa-check-circle{
	color:green;
	background-color: transparent;
	margin-right: 5px;
}

div.bs_output td.fa-exclamation-triangle{
	color:orange;
	background-color: transparent;
	margin-right: 5px;
}

div.bs_output td.fa-times-circle{
	color:red;
	background-color: transparent;
	margin-right: 5px;
}

div.bs_output td.error_field{
	color:red;
}

div.bs_output td.field_warning{
	color:orange;
}

div.bs_output .field_description{
	padding-left: 20px;
	padding-right: 20px;
	font-size: 12px;
	font-style: italic;
	/*display:none !important;*/
}
